<!DOCTYPE html>
<html>
<head>
	<title>Code Zero</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

	<div class="text-center" style="margin-top: 40px; max-width: 30%;">
		<img class="img-responsive center-block" style="max-width: 100px;" src="{{ url_for('static', filename='codeZeroLogo.png') }}">
	</div>
  <div class="container-fluid" style="min-height: 100%; width: 80%; margin-top: 50px">
    <table class="table table-bordered table-hover">
      <tr>
        {% for item in LISTA[0] %}
        <th style="background-color: #b0bec5">{{item}}</th>
        {% endfor %}
      </tr>
      {% for i in LISTA[1:] %}
      <tr>
        {% for item in i %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <div class="container" style="margin-top: 50px">
    </div>
  </div>

</body>
</html>